$font-stack: Noto Sans TC, sans-serif;
$primary-color: #221E1F;
$secondary-color: #56C4C5;
$emphasize-color: #FF5D50;
$footer-color: #F5F5F5;
$font-weight-normal: 400;
$font-weight-emphasize: 500;
$font-weight-bold: 700;
$font-size-normal: 16px;
$title-size: 2rem;
$description-size: 1.25rem;
$sub-des-size: 1.125rem;
$long-margin: 100px;
$short-margin: 48px;
$mobile-long-margin: 60px;
$mobile-short-margin: 32px;
$mobile-margin-btm: 24px;
$mobile-shorter-margin: 24px;
$footer-image: 'https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home_footer.svg';
$footer-image-sm: 'https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/footer_sm.svg';

*, *:before, *:after {
        /* outline: 1px black solid; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font-stack;
    color: $primary-color;
    font-weight: $font-weight-normal;
    font-size: $font-size-normal;
    font-family: $font-stack;
}
body {
    .title {
        font-size: $title-size;
        font-weight: $font-weight-emphasize;
    }
    .des {
        margin-top: 16px;
        font-size: $description-size;
    }
    .btn {
        width: 8rem;
        border-radius: 22px;
        border : none;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;

        &:hover {
                cursor: pointer;
            }
        }
    @mixin css3-border-radius() { 
        -ms-border-radius: 12px;
        -moz-border-radius: 12px; 
        -webkit-border-radius: 12px; 
        -o-border-radius: 12px; 
        border-radius: 12px; 
      }
    .card {
        box-shadow: 0px 2px 10px rgb(218, 216, 216);
        @include css3-border-radius;
    }
}
@mixin GhostButton(){
    border: 1px solid $secondary-color;
    background-color: white;
    color: $secondary-color;
}
.container {
    margin: 0 7%;
}

.bg {
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home.svg');
    background-position: right top;
    background-repeat: no-repeat;
}

.nav {
    padding: 10px 7%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        height: 40px;
        &:hover {
            cursor: pointer;
            background: none;
        }
    }
    .btn-top {
        background-color: $emphasize-color;
        
        &:hover {
            @include GhostButton();
            border: 1px solid $emphasize-color;
            color: $emphasize-color;
        }
    }
}
.jumbotron {
    display: flex;
    align-items: center;

    .banner-para {
        flex: 1;

        .sub-title {
            margin-top: 212px;
            font-size: $sub-des-size;
            color: $secondary-color;
        }
        .big-title {
            margin-top: 8px;
            font-size: 3rem;
            font-weight: $font-weight-emphasize;
        }
    }
    .home-banner {
        flex: 1;
    }
}

.platform {
    margin-top: 217px;
    text-align: center;

    .platform-block {
        margin-top: $short-margin;
        list-style: none;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .platform-icon {
        width: 90px;
    }
    .platform-name {
        margin-top: $mobile-shorter-margin;
        font-weight: $font-weight-emphasize;
        font-size: 1.5rem;
    }
    .platform-para {
        margin-top: $mobile-shorter-margin;
    }
}
.character {
    margin-top: $long-margin;
    text-align: center;

    .character-block {
        margin-top: $short-margin;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .character-feature {
            margin: 0 8px;
            overflow: auto;
            width: 22%;
            // flex-grow: 1;
            @extend .card;
        }
        .character-icon {
            width: 100%;
        }
        .character-name {
            margin-top: $mobile-shorter-margin;
            font-weight: $font-weight-emphasize;
            color: $secondary-color;
            font-size: 1rem;
        }
        .character-para {
            margin: $mobile-shorter-margin 0;
            font-size: 1rem;
        }
    }
}
.solution {
    margin-top: $long-margin;
    display: flex;
    justify-content: space-around;

    .solution-block {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap; 
        flex: 1;

        .solution-feature {
            margin: 14px 23.5px;
            padding: 32px;
            width: 230px;
            height: 280px;
            @extend .card;
        }
        .solution-icon-shadow {
            width: 86px;
            height: 86px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .solution-icon {
            width: 52px;
        }
        .solution-name {
            margin-top:  $mobile-shorter-margin;
            font-weight: 800;
            color: $secondary-color;
            font-size: 1rem;
            margin-bottom: 16px;
        }
    } 
    .solution-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .solution-des {
            margin-top: $mobile-shorter-margin;
            font-size: $sub-des-size;
        }
        .solution-para {
            margin-top: $mobile-shorter-margin;
            font-size: 1rem;
        }
        .btn-fee {
            margin-top: $mobile-shorter-margin;
            background-color: $secondary-color;

            &:hover {
                @include GhostButton();
            }
        }
    }
}
.ratings {
    margin-top: $long-margin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    .ratings-title {
        margin-bottom: 104px;
        text-align: center;
        font-size: $title-size;
        font-weight: 500;
    }
    .swiper2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .swiper-wrapper2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .swiper-slide2 {
            flex: 1;
            margin: 8px 24px;
            // margin: 0;
            list-style: none;
            padding: 0 32px 32px 32px;
            height: 100%;
        }
        .rating-profile {
            position: relative;
            top: -48px;
            width: 80px;
            border-radius: 100%;
        }
        .rating-line {
            margin: 20px 0;
            border: 1px solid #DDDDDD;
        }
        .rating-com {
            font-weight: 500;
            margin-bottom: 8px;
        }
        .rating-star-area {
            display: flex;
            justify-content: space-between;
        }
    }
    .rating-pages {
        margin-top: $mobile-shorter-margin;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;

        .rating-page {
            border-radius: 100%;
            background: #DDDDDD;
            width: 10px;
            height: 10px;
            margin: 0 4px;    
        }
        .rating-page-y {
            background: #FFD153;
            width: 16px;
        }
    }
}

.cta {
    display: flex;
    width: 100%;

    .hair {
        flex: 1;
        background-image: url($footer-image);
        background-position: center;
        background-size: cover;
        background-repeat: none;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cta-title {
            margin-top: 360px;
        }
        .btn-fee {
            margin-top: $short-margin;
            background-color: $secondary-color;

            &:hover {
                @include GhostButton();
            }
        }
    }
}
.reserved {
    text-align: center;
    margin-top: $long-margin;
    width: 100%;
    padding: 16px 0;
    background: $footer-color;
}

@media screen and (max-width: 1400px) {
    .solution{
        .solution-block {
            display: flex;
            justify-content: center;
            align-items: center;
        } 
    }
    // .ratings .rating-real .rating-user {
    //     padding-bottom: 100px;
    // }

}

@media screen and (max-width: 992px) {
    .container {
        margin: 0 7%;
    }
    .platform {
        margin-top: $long-margin;

        .platform-block {
            flex-direction: column;
        }
        .platform-feature {
            margin-bottom: $mobile-margin-btm;
        }
    }

    .character {
        margin-top: $mobile-long-margin;

        .character-block .character-feature {
            margin-bottom: $mobile-margin-btm;
        }
    }
    .solution {
        flex-direction: column-reverse;
        margin-top: $mobile-long-margin;

        .solution-right {
            text-align: center;
            align-items: center;
            margin-bottom: $mobile-margin-btm;
        }
    }
    .ratings {
        margin-top: $mobile-long-margin;
        .swiper2 .swiper-wrapper2 {
            .swiper-slide2 {
                margin-bottom: 50px;
            }
        }
    }
    .cta .hair {
        .cta-title {
            font-size: 24px;
            margin-top: 700px;
        }
    }
    .reserved {
        margin-top: $mobile-long-margin;
    }
}

@media screen and (min-width: 768px) and (max-width:992px) { 
    .character {
        .character-block .character-feature {
            width: 44%;
        }
    }

    .swiper2 .swiper-wrapper2{
            width: 70%;
            .swiper-slide2 {
            margin-bottom: 60px;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0 5%;
    } 
    .bg {
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home_sm.svg');
        background-position: 50% 400px;
        background-repeat: no-repeat;
    }
    .nav {
        background-color: white;
        border-bottom: 1px solid yellow;
    }
    .nav .logo {
        height: 24px;
    }
    .jumbotron {
        flex-direction: column;

        .banner-para {
            .big-title {
                font-size: $title-size;
            }
            .sub-title {
                margin-top: $mobile-short-margin;
            }
        }
        .home-banner {
            height: auto;
            width: 100%;
            margin-top: $mobile-short-margin;
        }
    }
    .character .character-block .character-feature {
        width: 100%;
    } 
    .swiper2 .swiper-wrapper2{
        flex-direction: column;

         .swiper-slide2 {
            margin-bottom: 50px;
            padding-bottom: 30px;
        }
        width: 100%;
    }
    .cta .hair {
        margin-top: -200px;
        background-image: url($footer-image-sm);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

  .swiper-pagination {
    position: static;
    margin-top: 24px;

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #DDDDDD;
    }
    .swiper-pagination-bullet-active {
        width: 20px;
        border-radius: 8px;
      }
  }
